{% extends "easy_pdf/base.html" %}

{% block extra_style %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">

        .tc {
          text-align: center;
        }

        .w100 {
          width: 100%;
        }

        .w2 {
          width: 20%;
        }

        i {
          font-style: normal;
        }

        i.verde {
          color: green;
        }

        i.rojo {
          color: red;
        }

        th {
          text-align: left;
        }

        .w80 {
          width: 80%;

        }



    </style>
{% endblock %}

{% if pdf %}
  {%block page_foot %}
    <div class='tc'>Página <pdf:pagenumber> de <pdf:pagecount> </div>
  {% endblock%}
{% endif %}


{% block content %}

  <table class="w100" border="1" cellspacing="0" cellpadding="4">

    <tr>
      <td class="tc" colspan="2"><h3>Informe de consultoría<h3></td>
    </tr>

    <tr>
      <th class="w2" width={{w}}>Nombre</th>
      <td>{{perfil.nombre}} {{perfil.apellido}}</td>
    </tr>

    <tr>
      <th class="w2" width={{w}}>DNI</th>
      <td>{{perfil.dni}}</td>
    </tr>

    <tr>
      <th class="w2" width={{w}}>Cargo</th>
      <td>{{perfil.cargo.nombre}}</td>
    </tr>

    <tr>
      <th class="w2" width={{w}}>Region</th>
      <td>{{perfil.region.numero}}</td>
    </tr>

    <tr>
      <th class="w2" width={{w}}>Periodo</th>
      <td>{{desde}} - {{hasta}}</td>
    </tr>

  </table>


  {% for evento in eventos %}
    <br/>
    <br/>

    <table class="w100" border="1" cellspacing="0" cellpadding="2">
      <tr>
        <th class="w2" width={{w}}>Fecha</th>
        <td>{{evento.fecha|date:'d/m/Y'}}</td>

        <th class="w2" width={{w}}>Categoría</th>
        <td> {{evento.categoria.nombre}}</td>
      </tr>

      <tr>
        <th class="w2" width={{w}}>Escuela</th>
        <td colspan="3"> {{evento.escuela.cue}} - {{evento.escuela.nombre}}</td>
      </tr>

      <tr>
        <th class="w2" width={{w}}>Título</th>
        <td colspan="3"> {{evento.titulo}}</td>
      </tr>

      <tr>
        <th class="w2" width={{w}}>Objetivo</th>
        <td> {{evento.objetivo}}</td>

        <th class="w2" width={{w}}>Acta</th>
        <td>
          {% if evento.acta %}
            <i class='verde'>✔ Tiene acta</i>
          {% else %}
            <i class='rojo'>✖ sin acta</i>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th class="w2" width={{w}}>Minuta:</th>
        <td colspan="3">
          {% if evento.minuta %}
            {{evento.minuta}}
          {% else %}
            no tiene
          {% endif %}
        </td>

      </tr>

    </table>
  {% endfor %}



{% if imprimir %}

<script type="text/javascript">
window.print();
</script>

{% endif %}

{% endblock %}
